@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: #ff0157;
}

.banner .content p {
  font-size: 1em;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header .logo span {
  color: #ff0157;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
  color: #ff0157;
  transition: 0.6s;
}

header .navigation li a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

header .navigation li a:hover {
  color: #ff0157;
}

section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .co150 {
  position: relative;
  width: 48%;
}

.about_blog {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/photo-1514477917009-389c76a86b68.jpeg);
  background-size: cover;
}

.contain-quote h1 {
  color: #ff0157;
}

.contain-quote h3 {
  color: white;
}

.contain-quote hr {
    color: #ff0157;
}

.contain-quote h5 {
  color: rgb(255, 192, 234);
  justify-content: center;
}

.about {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/pinkpeachy.jpg);
  }
  
  .about > div,
  .about > img {
    width: 50%;
  }
  
  .about > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
  }
  /* Media query to change display options of about section */
  @media screen and (max-width: 768px) {
    .about {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  
    .about > div,
    .about > img {
      width: 100%;
    }
  
    .about > div:nth-child(odd) {
      background-color: #e9c46a;
    }
